
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  background: #0f172a;
}

h1 {
  font-size: 50px;
  text-shadow: 0 0 10px #fff;
}

.wing,
.pp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
p {
   color: #fff; 
   text-shadow: 0 0 10px #fff;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 24px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 160px;
  height: 220px;
  padding: 16px;
  flex-basis: 160px;
  background: linear-gradient(180deg, #1e293b, #141f38);
  border-radius: 16px;

  text-decoration: none;
  color: #e5e7eb;

  cursor: pointer;
  user-select: none;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.card:hover, .shit:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.card:active, .shit:active {
  transform: translateY(-2px) scale(0.98);
}

.card:focus-visible, .shit:focus-visible {
  outline: 3px solid #60a5fa;
  outline-offset: 4px;
}


.shit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  background: linear-gradient(180deg, #1e293b, #141f38);
  border-radius: 16px;
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
  user-select: none;
  transition:
  transform 0.2s ease,
  box-shadow 0.2s ease;
  opacity: 1;
  padding: 14px 50px;
  min-width: 160px;
  z-index: 1;
}

.shittybutton{
  display: flex;
  justify-content: center;
  padding: 25px;
}

iframe {
  display: block;
  background: #000;
  border: none;
  width: 100vw;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.snow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.snow::before {
  content: "";
  position: absolute;
  inset: -20%;

  background-image:
    radial-gradient(2.5px 2.5px at 20% 30%, white 50%, transparent 51%),
    radial-gradient(2px 2px at 70% 40%, white 50%, transparent 51%),
    radial-gradient(1.5px 1.5px at 40% 80%, white 50%, transparent 51%);

  background-repeat: repeat;
  background-size: 150px 150px;

  opacity: 0.75;
}

.snow-a::before {
  animation: snow-fall 40s linear infinite;
}

.snow-b::before {
  animation: snow-fall 40s linear infinite;
  animation-delay: -20s;
}

@keyframes snow-fall {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(-120px, 100%);
  }
}

